# Matematik & Statistik
numpy
scipy
sympy
pandas
statsmodels

# DTU Specific Packages
dtumathtools
unitgrade

# Machine Learning & AI
scikit-learn
tensorflow
torch

# Data Visualisering
matplotlib
seaborn

# Web & API frameworks
fastapi
flask
django
httpx
requests

# GUI & Packaging
pyqt6
pyinstaller

# Jupyter & Notebooks
notebook
jupyterlab

# FastAPI + Database dependencies
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
Poetry
