* {
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 12px;
    min-height: 0;
  }

  #waybar {
    background: rgba(0, 0, 0, 0.4);
    color: #cdd6f4;
    padding: 0 4px;
  }

  #workspaces button {
    background: none;
    color: #a6adc8;
    padding: 2px 5px;
    margin: 0 1px;
    border: none;
  }

  #workspaces button.active {
    color: #89dceb;
  }

  #clock,
  #battery,
  #pulseaudio,
  #network,
  #bluetooth,
  #tray,
  #custom-lock,
  #custom-power {
    background: none;
    color: #cdd6f4;
    padding: 0 4px;
    margin: 0 2px;
  }
