<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="160" height="160" viewBox="0 0 160 160">
<defs><clipPath id="avatar"><circle cx="80" cy="80" r="80"/></clipPath></defs>
<image width="160" height="160" clip-path="url(#avatar)" xlink:href="data:image/jpeg;base64,{{ include (joinPath .chezmoi.sourceDir "dot_config/noctalia/assets/profile-picture.jpg") | b64enc }}"/>
</svg>
