{{- /* Copy before setValueAtPath; it mutates the map in place. */ -}}
{{- $target := joinPath .chezmoi.homeDir ".grok/config.toml" -}}
{{- $local := dict -}}
{{- if stat $target -}}
{{-   $local = include $target | fromToml -}}
{{- end -}}
{{- $new := $local | toJson | fromJson | setValueAtPath "ui.permission_mode" "always-approve" -}}
{{- if and (stat $target) (eq ($local | toJson) ($new | toJson)) -}}
{{- include $target -}}
{{- else -}}
{{- $new | toToml -}}
{{- end -}}
