[Desktop Entry]
Version=1.0
Name=Chess.com
Comment=Chess
Exec=google-chrome --new-window --ozone-platform=wayland --app=https://www.chess.com/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/Chess.png
StartupNotify=true
