[Desktop Entry]
Version=1.0
Name=HBO Max
Comment=HBO Max Streaming
Exec=google-chrome --new-window --ozone-platform=wayland --app=https://www.max.com/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/HBOmax.png
StartupNotify=true
