[Desktop Entry]
Version=1.0
Name=Proton Apps
Comment=Proton
Exec=google-chrome --new-window --ozone-platform=wayland --app=https://account.proton.me/apps
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/ProtonApps.png
StartupNotify=true
