[Desktop Entry]
Version=1.0
Name=Proton Mail
Comment=Proton
Exec=google-chrome --new-window --ozone-platform=wayland --app=https://mail.proton.me/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/ProtonMail.png
StartupNotify=true
