[Desktop Entry]
Version=1.0
Name=Viaplay
Comment=Viaplay Streaming
Exec=google-chrome --new-window --ozone-platform=wayland --app=https://viaplay.dk/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/Viaplay.png
StartupNotify=true
