{{- /* Copy before setValueAtPath; it mutates the map in place. */ -}}
{{- $target := joinPath .chezmoi.homeDir ".codex/config.toml" -}}
{{- $local := dict -}}
{{- if stat $target -}}
{{-   $local = include $target | fromToml -}}
{{- end -}}
{{- $new := $local | toJson | fromJson | setValueAtPath "approval_policy" "on-request" | setValueAtPath "sandbox_mode" "danger-full-access" -}}
{{- if and (stat $target) (eq ($local | toJson) ($new | toJson)) -}}
{{- include $target -}}
{{- else -}}
{{- $new | toToml -}}
{{- end -}}
