file://{{ .chezmoi.homeDir }}/Documents Documents
file://{{ .chezmoi.homeDir }}/Downloads Downloads
file://{{ .chezmoi.homeDir }}/Projects Projects
file://{{ .chezmoi.homeDir }}/Pictures Pictures
file://{{ .chezmoi.homeDir }}/Projects/dtu-bachelor dtu-bachelor
file://{{ .chezmoi.homeDir }}/Projects/nimbus nimbus
file://{{ .chezmoi.homeDir }}/Projects/dotfiles dotfiles
