@import "mocha.css";

/* === Global === */
* {
    font-family: "FiraCode Nerd Font Mono", "Symbols Nerd Font", monospace;
    font-size: 14px;
    min-height: 0;
  }

  #waybar {
    background: transparent;
    color: @text;
    margin: 6px 8px;
  }

  /* === Workspaces === */
  #workspaces {
    border-radius: 0.8rem;
    margin: 4px 6px;
    margin-left: 1rem;
    background-color: @surface0;
  }

  #workspaces button {
    color: @lavender;
    border-radius: 0.8rem;
    padding: 0.3rem 0.6rem;
    margin: 2px;
  }

  #workspaces button.active {
    color: @sky;
  }

  #workspaces button:hover {
    color: @sapphire;
  }

  /* === Modules (Right Side) === */
  #custom-music,
  #tray,
  #backlight,
  #clock,
  #battery,
  #pulseaudio,
  #network,
  #custom-lock,
  #custom-power {
    background-color: @surface0;
    padding: 0.4rem 0.8rem;
    margin: 2px 3px;
    border-radius: 0.6rem;
  }

  /* === Individual Module Styling === */

  #clock {
    color: @blue;
    border-radius: 0px 0.6rem 0.6rem 0px;
    margin-right: 1rem;
  }

  #custom-clock {
    background-color: @surface0;
    color: @blue;
    padding: 0.4rem 0.8rem;
    margin: 2px 3px;
    border-radius: 0.6rem;
  }

  #battery {
    color: @green;
  }

  #battery.charging {
    color: @green;
  }

  #battery.warning:not(.charging) {
    color: @red;
  }

  #backlight {
    color: @yellow;
  }

  #pulseaudio {
    color: @maroon;
    border-radius: 0.6rem 0px 0px 0.6rem;
    margin-left: 1rem;
  }

  #network {
    color: @teal;
  }

  #custom-music {
    color: @mauve;
  }

  #custom-lock {
    color: @lavender;
    border-radius: 0.6rem 0px 0px 0.6rem;
  }

  #custom-power {
    color: @red;
    margin-right: 1rem;
    border-radius: 0px 0.6rem 0.6rem 0px;
  }

  #tray {
    margin-right: 1rem;
  }
