[Desktop Entry]
Name=Impala
Comment=Wi-Fi Manager (iwd TUI)
Exec=ghostty --class=Impala -e impala
Icon=/home/pby/.local/share/applications/icons/Wifi.png
Terminal=false
Type=Application
Categories=Network;Utility;
