[Desktop Entry]
Name=IntelliJ IDEA Ultimate
Exec="/home/pby/.local/share/JetBrains/Toolbox/apps/intellij-idea-ultimate-2/bin/idea" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/pby/.local/share/applications/icons/IntelliJ.png
Comment=The JetBrains IDE for pro Java and Kotlin development
StartupWMClass=jetbrains-idea
StartupNotify=true
