[Desktop Entry]
Version=1.0
Name=Collectives
Comment=Nextcloud Collectives App
Exec=omarchy-launch-webapp https://cloud.byrne.dk/apps/collectives/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/NextcloudCollectives.png
StartupNotify=true
