[Desktop Entry]
Version=1.0
Name=Notes
Comment=Nextcloud Notes App
Exec=omarchy-launch-webapp https://cloud.byrne.dk/apps/notes/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/NextcloudNotes.png
StartupNotify=true
