[Desktop Entry]
Name=PyCharm
Exec="/home/pby/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/pby/.local/share/applications/icons/PyCharm.png
Comment=The Only Python IDE you need by JetBrains
StartupWMClass=jetbrains-pycharm
StartupNotify=true
