[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Netflix Streaming
Exec=omarchy-launch-webapp https://www.netflix.com/
Terminal=false
Type=Application
Icon=/home/pby/.local/share/applications/icons/Netflix.png
StartupNotify=true
