# Matematik & Statistik
numpy
scipy
sympy
pandas
statsmodels

# DTU Specific Packages
dtumathtools # Comment out for Python 3.13
unitgrade

# Machine Learning & AI
scikit-learn # Comment out for Python 3.13
tensorflow # Comment out for Python 3.13
torch

# Data Visualisering
matplotlib
seaborn

# Web & API frameworks
fastapi
flask
django
httpx
requests

# GUI & Packaging
pyqt6
pyinstaller

# Jupyter & Notebooks
notebook
jupyterlab

# FastAPI + Database dependencies
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
